{%extends 'base.html'%}
{% block content%}


<h1 class="text-center">Welcome To Your Profile Page</h1>
<div class="container">
	<a class="btn btn-sm btn-success" href="{% url 'create' %}">Post Image</a>
	<a class="btn btn-sm btn-primary" href="{% url 'updateProfile' %}"> Update Profile</a>
</div>

<div class="row">
	{%if images%}
	{% for image in images%}
	<div class="col-md-3">				
				
	     <div class="hovereffect thumbnail">
	        <a href="{% url 'single' image.id %}">
			        	<img class="img-responsive" src="{{image.image.url}}" alt="">
			</a>
	      
	        <div class="overlay">
	           <h2>{{ image.image_name }}</h2>
	    
	        </div>
	    </div>

	</div>
	{%endfor%}
	{%else%}
		<h3 class="text-center">You havent posted any images yet. Get started by posting one <a href="{% url 'create' %}">here</a></h3>
	{%endif%}

	
</div>

{%endblock%}
