{%extends 'base.html'%}
{% block content%}
<div class="container">
	{% if profile%}

	{%for profile in profile%}
		<div class="row" style="padding-bottom:20px">
		
			<div class="col-md-4">
				<img class="center-block img-responsive img-circle" src="{{profile.profile_pic.url}}" alt="" style="width:170px; height:170px">
			</div>
			<div class="col-md-8">
				<h2><strong>{{profile.user}}</strong></h2>
				<h4><strong>0</strong> Post <strong>0</strong> Followers <strong>0</strong> Following</h4>
				<h4>{{profile.bio}}</h4>
					{%if profile.user.id == user.id%}
					<a class="btn btn-sm btn-success" href="{% url 'create' %}">Create Post</a>
					<a class="btn btn-sm btn-primary" href="{% url 'updateProfile' %}"> Update Profile</a>
					{%endif%}
			</div>
		
		</div>
	
	{%endfor%}
	{%else%}

			<div class="col-md-4">
				<img class="center-block img-responsive img-circle" src="../../../media/profile/default.png" alt="" style="width:170px; height:170px">
			</div>
			<div class="col-md-8">
				<h2><strong>{{user}}</strong></h2
				<h4><strong>0</strong> Post <strong>0</strong> Followers <strong>0</strong> Following</h4>
				<h4>An Awesome Bio Will Appear Here</h4>
				<a class="btn btn-sm btn-success" href="{% url 'create' %}">Create Post</a>
				<a class="btn btn-sm btn-primary" href="{% url 'updateProfile' %}"> Update Profile</a>
			</div>
		
		</div>

	{%endif%}

	
		
	
<hr>	
</div>

<div class="row">
	<div class="container">
	{%if images%}
	{% for image in images%}
	
		<div class="col-md-4">				
					
		     <div class="hovereffect thumbnail">
		        <a href="{% url 'single' image.id %}">
				        	<img class="img-responsive" src="{{image.image.url}}" alt="">
				</a>
		      
		      
		    </div>

		</div>
	
	{%endfor%}
	{%else%}
		<h3 class="text-center">You havent posted any images yet. Get started by posting one <a href="{% url 'create' %}">here</a></h3>
	{%endif%}

	</div>
</div>

{%endblock%}
