{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content%}

<div class="container">
	<div class="row">
		
		<div class="col-md-7">
			<div class="thumbnail">
				<img src="{{image.image.url}}">
				
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{image.profile}}</h3>
			  </div>
			  <div class="panel-body">
			  	<strong>{{image.profile}}</strong>
			     {{image.image_caption}}
			     {%for comment in comments%}
				<p><strong>{{comment.profile}}</strong> :
				{{comment.comment}}</p>
				{%endfor%}
				<hr>
				<form  action="{% url 'single' image.id%}" method="post">
	        		{%csrf_token%}
	        		{% bootstrap_form form%}
	        		<input type="submit" class="btn btn-sm btn-primary" name="" value="Comment">
	    		</form>
			  </div>

			</div>
		</div>
	

	</div>
</div>


{%endblock%}
