{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content%}
<h1 class="text-center">Single view {{image.image_name}}</h1>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="thumbnail">
				<img src="{{image.image.url}}">
				<div class="caption">
					<p>Comments</p>
					<p>{% if comments%}
							{%for comment in comments%}
								{{comment.comment}}
							{%endfor%}
						{%else%}
						 <p>No comments here.Be the first to comment</p>
						{%endif%}
						
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	

	</div>
</div>


{%endblock%}
